version: "3.4"

services:
  mariadb:
    image: mariadb
    container_name: mariadb_container
    environment:
      # MYSQL_HOST: localhost
      MARIADB_ROOT_PASSWORD: root
    ports:
      - 3306:3306
    restart: unless-stopped
    volumes:
      - ./database/library.sql:/docker-entrypoint-initdb.d/library.sql
  phpmyadmin:
    depends_on:
      - mariadb
    image: phpmyadmin/phpmyadmin
    container_name: phpadmin_container
    environment:
      PMA_HOST: mariadb
    links:
      - mariadb:mariadb
    ports:
      - 8080:80
    restart: always
  server:
    build: ./server
    container_name: node_server_container
    depends_on:
      - mariadb
    # environment:
    #   MYSQL_HOST_IP: mariadb
    ports:
      - 5000:5000
    volumes:
      - ./server:/app
      - /app/node_modules
    links:
      - mariadb
    command: npm start
  client:
    build: ./client
    container_name: client_container
    # environment:
    #   NODE_PATH: src
    stdin_open: true    
    ports:
      - 3000:3000
    volumes:
      - ./client/src:/app/src
    links:
      - server
    command: npm start
