#admin-users {
    margin: 6% 11.9% 10% 11.9%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
}
#single-user-card button {
    display: block;
    margin: auto;
}
#single-user-card {
    min-height: 270px;
    max-height: 270px;
    min-width: 180px;
    max-width: 180px;
}
#admin-users .card-title {
    font-size: 14pt;
    font-weight: bold;
}